/*（全局样式文件，需在入口文件引入） */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 利用Element Plus CSS变量，跟随暗黑模式变化 */
body {
  background-color: var(--el-bg-color-page); /* 全局页面背景色 */
  color: var(--el-text-color-primary); /* 全局主文本色 */
  min-height: 100vh;
  transition: background-color 0.2s ease; 
}

.demo-container {
  background-color: var(--el-bg-color-container); /* 组件容器背景色 */
  border-radius: var(--el-border-radius-medium); /* 全局圆角变量 */
}
/* src/assets/styles.css */
@font-face {
  font-family: 'SourceHanSansCN-R';
  src: url('../assets/fonts/SourceHanSansCN-Regular.ttf') format('truetype');
}

/* 可以根据需要添加不同字重的字体文件 */
@font-face {
  font-family: 'SourceHanSansCN-B';
  src: url('../assets/fonts/SourceHanSansCN-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceHanSansCN-M';
  src: url('../assets/fonts/SourceHanSansCN-Medium.ttf') format('truetype');
}
